@import "../my-chameleon/styles.css";

.v-menubar-menuitem-nomesstyle {
	font-weight: bold;
	font-size: 15px;
}

.barrademenu {
	background-color: #FFFFFF;
	/*background-image: url(img/fundobarramenu.png);*/
	background-color: #000000;
	color: #000000;
	background-repeat: no-repeat;
	border: 1px solid #D4D4D4;
	background-size: 100%;
}

.anuncio {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	word-spacing: 20;
	margin-top: 30;
	font-family: Gadget, fantasy;
}