@import "../reindeer/styles.css";

.v-menubar-menuitem-nomesstyle {
	font-weight: bold;
	font-size: 15px;
}

.anuncio {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	word-spacing: 20;
	margin-top: 30;
	font-family: Gadget, fantasy;
	
}